@import url(https://fonts.googleapis.com/css?family=Cabin);

:root {
  --colorBg: #121212;
  --colorOutline: #cde800;
  --colorOutlineFade: #4e5559;
  --widthMouse: 52px;
  --heightMouse: 88px;
  --borderMouse: 6px;
  --posMouse: 8px;
  --posText: 2px;
  --sizeTrackball: 10px;
  --posTrackball: 20px;
  --shrinkTrackball: 0.4;
  --animDuration: 5s;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
  margin: 0;
}

p {
  margin-top: 50px;
  font-family: "Cabin", sans-serif;
  letter-spacing: 12px;
  text-indent: 12px;
  color: var(--colorOutline);
  animation: colorText var(--animDuration) ease-out infinite,
    nudgeText var(--animDuration) ease-out infinite;
}

.mouse {
  background: var(--colorOutlineFade);
  background-image: linear-gradient(
    transparent 0%,
    transparent 50%,
    var(--colorOutline) 50%,
    var(--colorOutline) 100%
  );
  position: relative;
  width: var(--widthMouse);
  height: var(--heightMouse);
  border-radius: 100px;
  background-size: 100% 200%;
  animation: colorSlide var(--animDuration) linear infinite,
    nudgeMouse var(--animDuration) ease-out infinite;
}

.mouse::before,
.mouse::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.mouse::before {
  width: calc(var(--widthMouse) - var(--borderMouse));
  height: calc(var(--heightMouse) - var(--borderMouse));
  background-color: transparent;
  border-radius: 100px;
}

.mouse::after {
  background-color: var(--colorOutline);
  width: var(--sizeTrackball);
  height: var(--sizeTrackball);
  border-radius: 100%;
  animation: trackBallSlide var(--animDuration) linear infinite;
}

@keyframes colorSlide {
  0% { background-position: 0% 100%; }
  20% { background-position: 0% 0%; }
  21% { background-color: var(--colorOutlineFade); }
  29.99% { 
    background-color: var(--colorOutline);
    background-position: 0% 0%;
  }
  30% {
    background-color: var(--colorOutlineFade);
    background-position: 0% 100%;
  }
  50% { background-position: 0% 0%; }
  51% { background-color: var(--colorOutlineFade); }
  59% {
    background-color: var(--colorOutline);
    background-position: 0% 0%;
  }
  60% {
    background-color: var(--colorOutlineFade);
    background-position: 0% 100%;
  }
  80% { background-position: 0% 0%; }
  81% { background-color: var(--colorOutlineFade); }
  90%, 100% { background-color: var(--colorOutline); }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(calc(-1 * var(--posTrackball)));
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(calc(var(--posTrackball) / 4));
  }
  14% {
    opacity: 0;
    transform: scale(var(--shrinkTrackball)) translateY(calc(var(--posTrackball) * 2));
  }
  15%, 19% {
    opacity: 0;
    transform: scale(var(--shrinkTrackball)) translateY(calc(-1 * var(--posTrackball)));
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(calc(-1 * var(--posTrackball)));
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(calc(-1 * var(--posTrackball)));
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(calc(var(--posTrackball) / 4));
  }
  44% {
    opacity: 0;
    transform: scale(var(--shrinkTrackball)) translateY(calc(var(--posTrackball) * 2));
  }
  45%, 49% {
    opacity: 0;
    transform: scale(var(--shrinkTrackball)) translateY(calc(-1 * var(--posTrackball)));
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(calc(-1 * var(--posTrackball)));
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(calc(-1 * var(--posTrackball)));
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(calc(var(--posTrackball) / 4));
  }
  74% {
    opacity: 0;
    transform: scale(var(--shrinkTrackball)) translateY(calc(var(--posTrackball) * 2));
  }
  75%, 79% {
    opacity: 0;
    transform: scale(var(--shrinkTrackball)) translateY(calc(-1 * var(--posTrackball)));
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(calc(-1 * var(--posTrackball)));
  }
}

@keyframes nudgeMouse {
  0% { transform: translateY(0); }
  20% { transform: translateY(var(--posMouse)); }
  30% { transform: translateY(0); }
  50% { transform: translateY(var(--posMouse)); }
  60% { transform: translateY(0); }
  80% { transform: translateY(var(--posMouse)); }
  90% { transform: translateY(0); }
}

@keyframes nudgeText {
  0% { transform: translateY(0); }
  20% { transform: translateY(var(--posText)); }
  30% { transform: translateY(0); }
  50% { transform: translateY(var(--posText)); }
  60% { transform: translateY(0); }
  80% { transform: translateY(var(--posText)); }
  90% { transform: translateY(0); }
}

@keyframes colorText {
  21% { color: var(--colorOutlineFade); }
  30% { color: var(--colorOutline); }
  51% { color: var(--colorOutlineFade); }
  60% { color: var(--colorOutline); }
  81% { color: var(--colorOutlineFade); }
  90% { color: var(--colorOutline); }
}
